/* Punoi Shenolli */

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.font-weight-bold{
    font-weight: 700;
}

.top{
    background: rgba(43, 43, 43, 1);
    width: 100%;
    height: 100%;
}

.top-head{
display: grid;
grid-template-columns: 35% 25% 15% 25%;
}

.star-rate{
    width: 30%;
}

.text{
    color: #d3d2d2;
}

.logo-header{
    background-color: black;
    padding-bottom: 0.5rem;
}

.first-text{
    line-height: 3rem;
    font-size: 1.1rem;
}

  .formplace{
        background-color: #ececec;
    }

.form-button-1{
    background: #2FA35B;
    color: white;
    font-weight: bold;
}

.form-button-1:hover{
    color: white;
}

.char h5{
    color: white;
}

.first-1{
    padding-top: 1rem;
    font-weight: bold;
}

.first-2{
    padding-top: 1.55rem;
    font-weight: bold;
}

.second-text{
    font-size: 1.1rem;
    padding-left: 3rem;
}

.img-1{
    margin-left: 5rem;
    width: 60%;
}

.third-text{
    padding-top: 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.img-fluid-1{
    width: 100%;
}

.solution{
    margin-top: 5rem;
    height: 600px;
}

.fourth-text{
    margin-top: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
}
.fourth-text p{
    font-size: 1.22rem;
}


.review-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5%;
}

.client-img{
    width: 100%;
    border-radius: 50%;
}

.review-holder{
    padding: 15px;
    box-shadow: 0 0 20px rgb(134 131 131 / 75%);
    height: 100%;
}

.buyer-rating img{
    width: 70%;
}

footer img{
    width: 4%;
}
@media only screen and (max-width: 770px){
    .fourth-text{
        margin-top: 8rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
  
    .third-text{
        font-size: 1rem;
        padding-top: 0rem;
        line-height: 1.5rem;
    }
.img-fluid-1{
    margin-top: 100px;
}
}

@media only screen and (max-width: 600px) {
    .logo-header img{
        margin-left: 50px;
    }
    .img-fluid-1{
        margin-top: 0px;
        width: 90%;
    }
    .rating{
        display: grid;
    width: 100%;
    justify-content: center;
    }
    .top-head{
        display: block;
    }
    .star-rate{
        justify-self: center;
    padding-bottom: 1rem;
    width: 35% !important;
    }
    .text{
        text-align: center;
        
    }
    .top-head img{
        width: 7%;
    }
    .delivery{
         padding-left: 45px;
        padding-top: 0.8rem;;
    }

    .shop{
        padding-left: 45px;
    padding-top: 0.8rem;
    }

    .mail{
        padding-left: 45px;
    padding-top: 0.8rem;
    }

    .bli-tani{
        width: 100%;
        border-radius: 0;
    }
    .second-text{
        padding-left: 1rem;
    }
    .small-oncell{
        font-size: 1.7rem;
    }

    .fourth-text{
        padding-left: 0;
        padding-right: 0;
        margin-top: 12rem;
    }
    .fourth-text p{
        font-size: 1.1rem;
    }

    .title h1{
        font-size: 2rem;
    }
    .review-grid{
        grid-template-columns: auto;
    grid-row-gap: 3rem;
    }

    footer img{
        width: 12%;
    }
}


